<div
	:data="{
  basket: [],
  fruits: [
    { name: 'apple', icon: '🍎' },
    { name: 'banana', icon: '🍌' },
    { name: 'orange', icon: '🍊' },
    { name: 'grape', icon: '🍇' },
    { name: 'peach', icon: '🍑' },
    { name: 'kiwi', icon: '🥝' },
    { name: 'mango', icon: '🥭' },
    { name: 'strawberry', icon: '🍓' },
  ]
}"
>
	<div>
		<span>Here is a collection of fruits:</span>
		<span :for="item in basket" :key="$index">{{ item.icon }}</span>
	</div>
	<div class="flex flex-row gap-1">
		<button
			:for="fruit in fruits"
			:key="fruit.name"
			:on:click="basket.push(fruit)"
			class="p-1 border-solid rounded-sm cursor-pointer bg-transparent hover:bg-gray-200"
		>
			{{ fruit.icon }}
		</button>
	</div>
</div>
